<span>
  {{getStatus()}}
  <button class="btn btn-link" ng-click="refresh()" title="Refresh device status">
    <i c8y-icon="refresh" ng-class="{'fa-spin': refreshing}"></i>
  </button><label>)</label>
</span>
