<div data-ng-controller="ioManagerCtrl" class="list-group" style="margin-top: 10px">
    <p ng-show="isLoadingModules" style="clear: both">Loading..</p>

    <!--div class="list-item"-->
    <div class="list-group-item" ng-repeat="module in ioModules track by $index" style="width: 224px; font-weight: bold;">
        <!--div class="list-group-item"-->
        <!--div class="list-group-item"-->
        <p class="list-group-item-heading">
            {{module.type}} {{module.model}} at {{module.addr}}
        </p>
        <!--/div-->
        <!--div class="list-group-item"-->
        <p ng-show="isLoadingValues">Loading..</p>
        <!--div class="list-group"-->
        <!--div class="list-group-item" -->
        <form class="form-inline" ng-repeat="output in module.outputs track by $index" style="margin-bottom: 5px;">
            <div class="form-group">
                <label for="{{module.addr}}_Output_{{output.name}}" style=" margin-right: 2px; font-size:12px ">Output {{output.name}} </label>
                <input style="width: 0px; margin-right: 10px; visibility: collapse" type="text" class="form-control"
                       ng-model="output.value" ng-disabled="blockInput" ng-pattern="/^[0-9]+$/"
                       id="{{module.addr}}_Output_{{output.name}}" placeholder="{{output.value}}">
            </div>
            <button ng-class="{'btn-success': output.value == 1}" type="submit" class="btn" ng-click="setOutput(module, output, 1)"
                    ng-disabled="blockInput || output.value == 1">On</button>
            <button ng-class="{'btn-success': output.value == 0}" type="submit" class="btn" ng-click="setOutput(module, output, 0)"
                    ng-disabled="blockInput || output.value == 0">Off</button>
            <!--i c8y-icon="refresh" ng-class="{'fa-spin': output.isSettingOutput}" style="float: right; margin-top: 8px; margin-left: 5px"></i-->
        </form>
        <!--/div-->
        <!--/div-->
        <!--/div-->
        <!--/div-->
        <!--/div-->
    </div>
</div>
