<div data-ng-controller="ioSetCtrl" class="col-lg-6">
    <form>
        <div class="form-group">
            <label>Output 1</label>
            <device-status device="deviceStatus.device" is-online="deviceStatus.isOnline" refresh="deviceStatus.refresh"></device-status>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-ng-click="setio('1')" ng-disabled="!deviceStatus.isOnline()">On</button>
            <button type="button" class="btn btn-primary" data-ng-click="setio('0')" ng-disabled="!deviceStatus.isOnline()">Off</button>
        </div>
    </form>
</div>
