<div data-ng-controller="mbusScannerCtrl" class="list-group" style="margin-top: 10px">
    <button type="button" class="btn btn-default" ng-click="scanMbus()">Scan M-Bus</button>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default animate-repeat" ng-repeat="device in devices">
            <div class="panel-heading" role="tab" id="mbus_{{$index}}">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#mbus_{{$index}}" aria-expanded="false" aria-controls="mbus_{{$index}}">
                        Primary address: {{device.primaryAddr}}
                        Secondary address: {{device.secondaryAddr}}
                        Manufacturer: {{device.manufacturer}}
                        Version: {{device.manufacturer}}
                        Medium: {{device.medium}}
                        State: {{device.state}}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead class="animate-repeat">
                        <tr>
                            <th>Index</th>
                            <th>Vib</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="animate-repeat" ng-repeat="var in device.vars">
                            <th scope="row">{{var.ind}}</th>
                            <td>{{var.vib}}</td>
                            <td>{{var.value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
